.tree-node {
  display: table-cell;
  padding-top: 20px;
  vertical-align: top;

  &:global(.is-leaf, ) &:global(.collapsed) {
    padding-right: 10px;
    padding-left: 10px;
  }

  &:before,
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 19px;
    content: '';
  }

  &:after {
    left: 50%;
    border-left: 1px solid #ddd;
  }

  &:not(:first-of-type):before,
  &:not(:last-of-type):after {
    border-top: 1px solid #ddd;
  }

  &:global(.is-leaf),
  &:global(.collapsed) {
    padding-right: 10px;
    padding-right: var(--card-spacing);
    padding-left: 10px;
    padding-left: var(--card-spacing);
  }

  .label {
    position: relative;
    display: inline-block;
    .label-inner {
      padding: 10px 15px;
      border: 1px solid #eee;
      border-radius: 6px;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    }
  }
  .children {
    display: table-cell;
    padding-top: 20px;

    &:before {
      position: absolute;
      top: 0;
      left: 50%;
      width: 0;
      height: 20px;
      border-left: 1px solid #ddd;
      content: '';
    }

    &:after {
      display: table;
      clear: both;
      content: '';
    }
    > .combine-tree-node {
      .arrow-icon {
        display: none;
      }
    }
  }
}

.combine-nodes {
  padding: 0 0;
}

.tree-node,
.tree-node .children {
  position: relative;
  margin: 0;
  // padding: 0;
  list-style-type: none;

  &:empty {
    display: none;
  }

  &.combine-tree-node::before {
    display: none;
  }

  &:before,
  &:after {
    transition: all 0.35s;
  }
}

:global(.horizontal) {
  .tree-node {
    display: table-cell;
    float: none;
    padding-top: 0;
    padding-left: 20px;

    &:before,
    &:after {
      width: 19px;
      height: 50%;
    }

    &:after {
      top: 50%;
      left: 0;
      border-left: 0;
    }

    &:only-child:before {
      top: 1px;
      border-bottom: 1px solid #ddd;
    }

    &:not(:first-of-type):before,
    &:not(:last-of-type):after {
      border-top: 0;
      border-left: 1px solid #ddd;
    }

    &:not(:only-child):after {
      border-top: 1px solid #ddd;
    }

    &:global(.is-leaf),
    &:global(.collapsed) {
      padding-top: 10px;
      padding-top: var(--card-spacing);
      padding-bottom: 10px;
      padding-bottom: var(--card-spacing);
    }

    .label {
      display: table-cell;
      vertical-align: middle;
    }
  }
  .children {
    display: table-cell;
    padding-top: 0;
    padding-left: 20px;

    &:before {
      top: 50%;
      left: 0;
      width: 20px;
      height: 0;
      border-top: 1px solid #ddd;
      border-left: 0;
    }

    &:after {
      display: none;
    }

    & > .tree-node {
      display: block;
    }
  }
  > .tree-node:only-child::before {
    border-bottom: 0;
  }
  .epxand-btn {
    top: 50%;
    left: 100%;
    margin-top: -11px;
    margin-left: 9px;
  }
}

.epxand-btn {
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 10;
  width: 20px;
  height: 20px;
  margin-top: 9px;
  margin-left: -11px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: all 0.35s ease;

  &:hover {
    background-color: #e7e8e9;
    transform: scale(1.15);
  }

  &:before,
  &:after {
    position: absolute;
    content: '';
  }

  &:before {
    top: 50%;
    right: 4px;
    left: 4px;
    height: 0;
    border-top: 1px solid #ccc;
  }

  &:after {
    top: 4px;
    bottom: 4px;
    left: 50%;
    width: 0;
    border-left: 1px solid #ccc;
  }

  &:global(.expanded):after {
    border: none;
  }
}

.arrow-icon {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  width: 12px;
  height: auto;
  transform: translate(-50%, 0%);
}
